/*背景图*/

.c_background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
}

.c_background_top {
    width: 100%;
    height: 71.6%;
    background-size: 100% 100%;
    background-image: url("./images/background/c_background_top.png");
}

.c_background_middle {
    width: 100%;
    height: 13.1%;
    background-size: 100% 100%;
    background-image: url("./images/background/c_background_middle.png");
}

.c_background_bottom {
    width: 100%;
    height: 15.3%;
    background-size: 100% 100%;
    background-image: url("./images/background/c_background_botton.png");
}


/*小女孩*/

.girl {
    position: absolute;
    width: 151px;
    height: 291px;
    right: 40%;
    top: 37%;
    background: url("./images/girl.png");
}

.girl-rotate {
    animation: girl-rotate 850ms 1 step-start forwards;
}

@keyframes girl-rotate {
    0% {
        background-position: -604px -0px;
    }
    16.7% {
        background-position: -151px -0px;
    }
    33.4% {
        background-position: -906px -0px;
    }
    50.1% {
        background-position: -0px -0px;
    }
    66.8% {
        background-position: -302px -0px;
    }
    83.5% {
        background-position: -453px -0px;
    }
    100% {
        background-position: -604px -0px;
    }
}


/*桥*/

.bridge-bottom {
    position: absolute;
    width: 41%;
    height: 24%;
    left: 29.5%;
    top: 76%;
    overflow: hidden;
}


/*波浪水布局*/

.water {
    width: 100%;
    height: 100%;
}

.water_1,
.water_2,
.water_3,
.water_4 {
    width: 100%;
    position: absolute;
    height: 50%;
    animation: shake 40s alternate linear infinite;
}

@keyframes shake {
    0%,
    100% {
        transform: translate3d(0, 0, 0);
    }
    10%,
    30%,
    50%,
    70%,
    90% {
        transform: translate3d(-30px, 0, 0);
    }
    20%,
    40%,
    60%,
    80% {
        transform: translate3d(30px, 0, 0);
    }
}

.water_1 {
    width: 131px;
    height: 15px;
    top: 13%;
    left: 35%;
    background: url("./images/water.png") -261px -0px no-repeat;
}

.water_2 {
    width: 161px;
    height: 9px;
    top: 30%;
    left: 45%;
    background: url("./images/water.png") -693px -0px no-repeat;
}

.water_3 {
    width: 261px;
    height: 29px;
    top: 50%;
    left: 15%;
    background: url("./images/water.png") -0px -0px no-repeat;
}

.water_4 {
    width: 301px;
    height: 12px;
    top: 75%;
    left: 30%;
    background: url("./images/water.png") -392px -0px no-repeat;
}


/*星星*/

.stars {
    width: 100%;
    height: 100%;
    position: absolute;
}

.stars>li {
    position: absolute;
    width: 30px;
    height: 31px;
    background-image: url("./images/stars.png");
    /*animation: flash ease-in-out infinite alternate;*/
    animation-name: flash;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

.stars1 {
    top: 20%;
    left: 30%;
    animation-duration: 5s;
}

.stars2 {
    top: 15%;
    left: 20%;
    animation-duration: 4s;
}

.stars3 {
    top: 25%;
    left: 85%;
    animation-duration: 5s;
}

.stars4 {
    top: 30%;
    left: 70%;
    animation-duration: 3s;
}

.stars5 {
    top: 25%;
    left: 20%;
    animation-duration: 5s;
}

.stars6 {
    top: 10%;
    left: 65%;
    animation-duration: 2s;
}

@keyframes flash {
    0%,
    50%,
    100% {
        opacity: 1;
    }
    25%,
    75% {
        opacity: 0;
    }
}


/*雪花*/

#snowflake {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

.snowRoll {
    position: absolute;
    opacity: 0;
    animation: mysnow 20s;
    height: 80px;
}

@keyframes mysnow {
    0% {
        bottom: 100%;
    }
    50% {
        transform: rotate(1080deg);
    }
    100% {
        transform: rotate(0deg) translate3d(50px, 50px, 50px);
    }
}